/Debug/
/Release/
/html/
matlab/octave-workspace

/Test/
/Test2/
/oscillator/
/DumbExample/
/oscillator_tst/

*.py~
*.pyc
*.gitignore~
*.gitignore~~
*.sh~
*.m~~
/lfo_tst/
/osc_timer_tst/
/adsr_tst/
/mixer_tst/
/tst/**/*.wav
/serial_com_tst/
/mov_avg_tst/
